.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 30px;
  background-color: #646cff;
  color: white;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.nav-logo {
  height: 40px;
  margin-right: 12px;
}

.navbar-links a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
  font-weight: 500;
  transition: color 0.3s ease;
}

.navbar-links a:hover {
  color: #ffeb3b;
}
